{% extends "base.html" %}

{% block title %}Payroll{% endblock %}

{% block content %}
<form class="form" method="post">
    {%csrf_token%}
    <div class="login">
      <div class="login-screen">
        {{form.non_field_errors}}
        <div class="login-icon">
            <img src="/static/img/logo.png" alt="Welcome to PayrollApp">
            <h4>Welcome to <small>PayrollApp</small></h4>
        </div>
        <div class="login-form">
            <div class="control-group">
              <input type="text" name="username" class="login-field" value="" placeholder="账号" id="id_username">
              <span>{{form.username.errors.0}}</span>
          </div>

          <div class="control-group">
              <input type="password" name="password"class="login-field" value="" placeholder="密码" id="login-pass">
              <span class="clearfix">{{form.password.erros.0}}</span>
          </div>
          <button type="submit" class="btn btn-primary btn-large btn-block" href="#">登录</button>
          <a class="login-link" href="/reset/">忘记密码?</a>
      </div>
  </div>
</div>
{% endblock %}
