<link href="/static/css/jquery-ui.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>

<script>
$(function() {
    $( "#id_date" ).datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: -0,
        maxDate: "+10D"
    });
});
</script>

<form class="form-inline" id="your-profile" action="{% url 'ask_leave' %}" method="post">
    {{ form.as_table }}
    <input type="submit" name="submit" id="submit" class="btn" value="提交" />
</form>