{% extends "base.html" %}
{% block title %}修改个人信息{% endblock %}
{% block content %}

<div class="span5 offset1">
    <ul class="nav nav-pills" style="font-size:18px">
        <li><a href='/user/settings/password'>修改密码</a></li>
        <li><a href='/user/settings/payment'>修改工资支付信息</a></li>
        <li><a href='/logout/'>退出</a></li>
    </ul>
</div>
<div class="offset2">
    <form action="." class="form-horizontal" method="POST" style="padding:20px 0 0 0;">{%csrf_token%}
        <fieldset>
            <div id="legend" class="">
                <legend class="">个人信息</legend>
            </div>
            <div class="control-group">
                <label class="control-label">手机号码</label>
                <div class="control">
                    <div class="textarea">
                        <textarea name="phone" type="text" class="input-xlarge" style="margin:20px 0 20px 20px"placeholder={{phone}}> </textarea>{{form.phone.errors.0}}
                    </div>
                </div>

            </div>
        </fieldset>
        <fieldset>
            <div id="legend" class="">
                <legend class="">工资支付方式</legend>
            </div>
            <div class="control-group">
                <label class="control-label">选择工资支付方式</label>
                <div class="controls">
                    <select name="payment_method" class="input-xlarge">
                        <option value="pick">直接去公司财务处领取支票</option>
                        <option value="transfer">转账到指定的银行账户</option>
                        <option value="mail">把支票邮寄到指定的地址</option>
                    </select>{{form.payment_method.errors.0}}
                </div>
                <label class="control-label">银行账号</label>
                <div class="control">
                    <div class="textarea">
                        <textarea name="bank_account" type="text" class="input-xlarge" style="margin:20px 0 20px 20px"> </textarea>{{form.bank_account.errors.0}}
                    </div>
                </div>
                <label class="control-label">邮寄地址</label>
                <div class="control">
                    <div class="textarea">
                        <textarea name="mailing_address" type="text" class="input-xlarge" style="margin:20px 0 20px 20px"> </textarea>{{form.mailing_address.errors.0}}
                    </div>
                </div>


            </div>
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn-primary">保存修改</button>
        </div>
    
    </form>
</div>

{% endblock %}