{% extends "base.html"  %}
{% block title %}工作记录{% endblock %}

{% block more_header %}
<link href="/static/css/jquery-ui.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script>
$(function() {
    $( "#from_date" ).datepicker({
        dateFormat: 'yy-mm-dd'
    });

    $( "#to_date" ).datepicker({
        dateFormat: 'yy-mm-dd'
    });
});
</script>
{% endblock %}

{% block content %}
<h1>{{ request.user }}的工作历史</h1>

<div class="well">
    <form action="" method="get">
        <input id="from_date" name="from_date" type="text" placeholder="开始时间">
        <input id="to_date" name="to_date" type="text" placeholder="结束时间">
        <input type="submit" value="查询" class="btn">
        <a href="{% url 'times' %}" class="btn">全部</a>
    </form>
</div>

<ul>
    {% for timerecord in object_list %}

    <li>{{ timerecord.date|date }} || {{ timerecord.work_hours }}小时</li>
    {% empty %}
    <li>暂无记录</li>
    {% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{% url 'times' %}?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="page-current">
            第 {{ page_obj.number }} 页（共{{ page_obj.paginator.num_pages }}页）
        </span>
        {% if page_obj.has_next %}
        <a href="{% url 'times' %}?page={{ page_obj.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}