{% extends "base.html" %}

{% block more_header %}
    <script>
        $(function(){
            {% if arrive_time %}
                var base_time = new Date("{{arrive_time}}");
            {% else %}
                var base_time = Date.now();
            {% endif %}
            function show_time() {
                var during = parseInt((Date.now() - base_time) / 1000, 10)
                var hours = parseInt(during / 3600, 10)
                during = during % 3600
                var minutes = parseInt(during / 60, 10)
                during = during % 60
                var seconds = during
                $('#time_field').html(hours + "小时" + minutes + "分钟" + seconds + "秒");
            };

            setInterval(show_time, 1000);
        })
    </script>
{% endblock%}

{% block content %}
    <div class="span5 offset1">
        <ul class="nav nav-pills" style="font-size:18px">
            <li><a href='/user/settings/'>修改个人信息</a></li>
            <li><a href='/contact/'>吐槽</a></li>
            <li><a href='/logout/'>退出</a></li>
        </ul>
    </div>
    <h1>陆明那</h1>
    <hr>
    {% if leave_record %}
        <span>今天您已经请假</span>
    {% else %}
        {% if timecardrecord %}
            {% if work_done %}
                <span>今天工作了{{ work_time }}</span>
            {% else %}
                <span>今天已经工作:</span>
                <span id="time_field"></span>
                <form action="leave">
                    <button class="btn btn-danger">我下班班了</button>
                </form>
            {% endif%}
        {% else %}
            <form action="arrive" style="display: inline;">
                <button class="btn btn-success">我来上班了</button>
            </form>
            <a href="{% url 'ask_leave' %}" class="btn btn-success" target="_blank">我要请假</a>
        {% endif %}
    {% endif %}
    <hr>
    <a href="{% url 'user_leaves' %}" class="btn btn-success" target="_blank">请假历史记录</a>
    <hr>
    上个工作周期的工资  *距下一次发工资还有多少天
    <hr>
    上个工作周期工作多少小时
    <hr>
    昨天工作多少小时
    <hr>
    <a href="{% url 'new_purchase' %}" class="btn btn-success" target="_blank">添加采购记录</a>
    <a href="purchases" class="btn btn-success" target="_blank">采购记录历史</a>
    <hr>
    查看工作时间报告
    <hr>
    查看年初至今工资报告
{% endblock %}