{% extends "base.html"  %}
{% block title %}历史采购{% endblock %}
{% block content %}
<h1 style="padding:20px 0 40px 0">{{ request.user }}的销售历史</h1>
<hr>
<ul>
    {% for purchase in object_list %}

    <li>{{ purchase.time|date }} / {{ purchase.amount }}元 / {{ purchase.description }} /
        <a href="{% url 'edit_purchase' purchase.pk %}" class="btn">修改</a>
        <form style="display:inline;" action="{% url 'purchase' purchase.pk %}" method="post">
            <input type="submit" value="删除" class="btn btn-danger" onclick="return confirm('确定要删除么？')"/>
        </form>
    </li>
    {% empty %}
    <li>暂无销售记录</li>
    {% endfor %}
</ul>
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{% url 'user_purchases' %}?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="page-current">
            第 {{ page_obj.number }} 页（共{{ page_obj.paginator.num_pages }}页）
        </span>
        {% if page_obj.has_next %}
        <a href="{% url 'user_purchases' %}?page={{ page_obj.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}