
<link href="/static/css/jquery-ui.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script>
$(function() {
    $( "#id_time" ).datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: "-10D",
        maxDate: 0
    });
});
</script>

<form id="your-profile" action="{% url 'new_purchase' %}" method="post" class="form-horizontal">
    {{ form.non_field_errors }}
  <div class="control-group">
    {{ form.time.errors }}
    <label class="control-label" for="id_time">时间</label>
    <div class="controls">
      {{ form.time }}
    </div>
  </div>
  <div class="control-group">
    {{ form.description.errors }}
    <label class="control-label" for="id_description">描述</label>
    <div class="controls">
      {{ form.description }}
    </div>
  </div>
  <div class="control-group">
    {{ form.amount.errors }}
    <label class="control-label" for="id_amount">金额</label>
    <div class="controls">
      {{ form.amount }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" name="submit" id="submit" class="btn" value="提交" />
    </div>
  </div>
</form>